.profile{
	width: 500px;
	
	margin-left: 150px;
	margin-bottom: 30px;
}
.profile1{
	margin-bottom: 30px;
}
.head td{
	width: 200px;
	text-align: center;
	
	
}
.header h2{
	text-align: center;
	margin: auto;

}