/* reseting all paddings and margins*/ 
*{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body{
	margin-top: 0px;
	font-size: 15px;
	
}
img{
	margin-left: 100px;
	margin-top: 50px;
}
th,td{
	height: 25.09px;
}
.table{
	border-spacing: 0;
	table-layout: fixed;
}
.head{
/* 	margin-top: 115px;
margin-bottom: 10px; */
	font-size: 20px;
}
.head th{
	
	text-align:left;
}
#date1{
	position:relative;
	top: 5px;
}
#date2{
	position:relative;
	bottom: 5px;
}

.body{
	
	margin-top: 0px;
	margin-left: 16px;
}
#print-btn{
	position: fixed;
	bottom:20px;
	left:10px;
}
#gen-btn{
	position: fixed;
	bottom:20px;
	left:50px;
	font-size: 13px;
}
